<div class="flights-main__container">
  <div id="main"></div>
</div>


<script id="appViewTemplate" type="text/template">
  <h1>Flights Home Page</h1>

  <h2>Flights</h2>
  <div class="flight-details flight-details__heading">Departure Date</div>
  <div class="flight-details flight-details__heading">Flight #</div>
  <div class="flight-details flight-details__heading">From</div>
  <div class="flight-details flight-details__heading">To</div>
  <div class="flight-details flight-details__heading">Airplane</div>
  <div class="flight-details flight-details__heading">Total Seats</div>
  <div class="flight-details flight-details__heading">Seats Available</div>



  <div id="flights"></div>


</script>

<script id="flightViewTemplate" type="text/template">
  <div class="flight-details"><%%= departure_date %></div>
  <div class="flight-details"><%%= flight_number %></div>
  <div class="flight-details flight-details__origin"><%%= origin %></div>
  <div class="flight-details flight-details__destination"><%%= destination %></div>
  <div class="flight-details"><%%= airplane.name %></div>
  <div class="flight-details"><%%= airplane.seatsTotal %></div>
</script>
