<h1>Burning Airline</h1>

<form id="form" method="post">
  <input type="search" id="searchFrom" placeholder="Where are you?"><br><br>
  <input type="search" id="searchTo" placeholder="Enter final destination"><br><br>
  <%= link_to 'Search', flights_path %>
  <!-- <input type="button" name="name" value="Search Fligths" id="search"> -->
</form><br>

</form>
