.flight-details {
  display: inline-block;
  width: 13%;
}
.flight-details__origin,
.flight-details__destination {
  // width: 10%;
}
.flight-details__heading {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 15px;
  color: gray;
}
.flight-details a {
  color: tomato;
  &:visited {
    color: tomato;
  }
  &:hover {
    background: none;
  }
}

.flight-details__flight-number {
  color: tomato;
}
.flights-main__container {
  max-width: 960px;
  margin: 0 auto;
}
.flight-reservation__container {
  max-width: 80%;
  margin: 50px auto;
  text-align: center;
}
.flight-actions__container {
  margin: 20px 0;
}
.seats__row {
  height: 50px;
  padding: 5px;
  background: rgba(200,200,200,0.2);
  margin: 10px 0;
  display: inline-block;
}

.button-container {
  text-align: center;
  padding: 20px;
  .btn {
    margin: 0 auto;
  }
}
.seats__col {
  height: 40px;
  width: 60px;
  margin: 0 10px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  border: 1px solid gray;
  &:hover {
    background: rgba(46, 204, 113,1.0);
  }

}
.seats__col--label,
.seats__row--label {
  height: 40px;
  width: 60px;
  margin: 0 10px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  border: none;
}

.taken:hover {
  background: gainsboro;
  cursor: not-allowed;
}

.classSearch{
  width: 100px;
  height: 25px;
  margin-left: 25px;
}
#searchBtn{
  text-align: center;
  font-weight: bold;
  margin-left: 25px;
}
.searchDiv{
  text-align: center;
}

.seat-selected {
  background: rgba(46, 204, 113,1.0);

}
