 .flight-details {
  display: inline-block;
  width: 13%;
}
.flight-details__origin,
.flight-details__destination {
  // width: 10%;
}

.flight-details__heading {
  font-weight: 700;
}

.flights-main__container {
  max-width: 900px;
  margin: 0 auto;
}
