@import url(https://fonts.googleapis.com/css?family=Montserrat);

nav {
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  padding: 20px;
  text-decoration: none;
}

nav a:hover {
  color: blue;
  background-color: white;
}

td, th {
  padding: 15px;
}

form {
  text-align: center;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.btn {
  display: block;
  align-items: center;
  &:hover{
    box-shadow: 2px 2px 2px black;
    color: white;
  }
}

.yield-container {
  max-width: 90%;
  margin: 0 auto;
}
