nav {
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  padding: 20px;
  text-decoration: none;
}

nav a:hover {
  color: blue;
  background-color: white;
}

td, th {
  padding: 15px;
}
